@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400;700&display=swap');
$font: 'Roboto', sans-serif;
$font-title: 'Oswald', sans-serif;
$black: #16161d;
$white: #ffffff;
$grey: #878787;
$grey-light: #c0bfbf;
$green: #59B94D;
$green-50: rgba(89, 185, 77, 0.5);
$red: #dc3545;
$red-50: rgba(220, 53, 69, 0.5);
$orange: #febb39;
$orange-50: rgba(254, 187, 57, 0.5);
$transition: 0.2s ease-in-out;
$radius: 20px;
$radius-mini: 12px;
$shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);